[user]
	name = Athan Yi
	email = eoleumbi@gmail.com
[alias]
	b = branch
	br = branch
	co = checkout
	ci = commit
	st = status
	rb = rebase
	lo = log --oneline --decorate --graph
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
